@{
    ViewData["Title"] = "About Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>What We Do</h2>
        <p>
            We are a platform that empowers individuals to raise their voices against unfair taxes, excessive
            fees, and other burdensome regulations. We provide tools and resources to help you:
        </p>
        <ul>
            <li>Start and join petitions on important issues.</li>
            <li>Connect with others who share your concerns.</li>
            <li>Learn more about your rights and how to take action.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>How It Works</h2>
        <p>Getting started is easy:</p>
        <ol>
            <li>Browse through existing petitions or create your own.</li>
            <li>Sign and share petitions to raise awareness and gather support.</li>
            <li>Stay informed about the latest campaigns and take action.</li>
        </ol>
        <p>Together, we can make a difference!</p>
    </div>
</div>
<div class="col-md-6">
    <a href="../pages/index.html" class="btn btn-primary mt-3">Start a Petition Today</a>
</div>